.container {
    margin: 0 auto;
    max-width: 1200px;
}

* {
    font-family: "Times New Roman", Times, serif;
}

body {
    background-color: #bfac95;
    color: #403a3f;
}

h1 {
    color: #524d59;
    text-align: center;
    letter-spacing: 10px;
    font-style: italic;
}

h3 {
    color: #403a3f;
    font-family: "Times New Roman", Times, serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: auto;
    filter: drop-shadow(0px 10px 3px #403a3f);
    padding-top: 10px;
    padding-bottom: 10px;
}

.center {
    text-align: center;
}

div#footer {
    background-color: #f2efe9;
    text-align: center;
    letter-spacing: 5px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 8px;
}

.navbar-custom {
    background-color: #524D59;
}

/* changes the brand and text color */
.navbar-custom .navbar-brand, .navbar-custom .navbar-text {
    color: #F2EFE9;
}

/* changes the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #F2EFE9;
}

/* changes the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link, .navbar-custom .nav-item:hover .nav-link {
    color: #8C7974;
    letter-spacing: 2px;
}


.carousel .carousel-inner {
    height: 200px;
    padding-bottom: 20px;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 300px;
}

.card .nav-link {
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #403a3f;
}

.card .nav-link:hover {
    color: #524D59;
}