@{
    Layout = "_Layout";
}

@model Bakery.Models.Sweet

<h3>Add a new sweet</h3>
<hr/>
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.SweetName)
        @Html.TextBoxFor(model => model.SweetName)
    </div>
    <div class="form-group">
        <input type="submit" value="Add new sweet" class="btn btn-default" />
    </div>
}

<h3>@Html.ActionLink("Show all sweets", "Index")</h3>