<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pierre's Bakery</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
        @* <script src="http://ajax.microsoft.com/ajax/jquery/jquery-3.4.1.js" type="text/javascript" SameSite="None" Secure></script> *@
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" required></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/js/main.js"></script>
        <link rel='stylesheet' href="~/css/styles.css" type="text/css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-custom">
            <a class="navbar-brand" href="/">PIERRE'S BAKERY</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/flavors/create">New Flavor <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/flavors">Flavors <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/sweets/create">New Sweet <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/sweets">Sweets <span class="sr-only">(current)</span></a>
                </li>
                </ul>
                @*break from left-aligned & right-aligned nav bar items*@
                <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/account/register"><span class="fas fa-user"></span> Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/account/login"><span class="fas fa-sign-in-alt"></span> Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/account"><span class="fas fa-user"></span> Your Account</a>
                </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            @RenderBody()
            @RenderSection("scripts", required: false)
            @Html.Partial("_Footer")
        </div>
    </body>
</html>