@{
    Layout = "_Layout";
}

@model Bakery.Models.Flavor

<h3>Add a new flavor</h3>
<hr />
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.FlavorName)
        @Html.TextBoxFor(model => model.FlavorName)
    </div>
    <div class="form-group">
        <input type="submit" value="Add new flavor" class="btn btn-default"/>
    </div>
}

<h3>@Html.ActionLink("Show all flavors", "Index")</h3>