@{
    Layout = "_Layout";
}

@using Bakery.Models;
@model IEnumerable<Bakery.Models.Flavor>

<h2>Flavors</h2>
<hr>
@if (Model.Any())
{
    <ul>
    @foreach (Flavor flavor in Model)
    {
        <li>@Html.ActionLink($"{flavor.FlavorName}", "Details", new { id = flavor.FlavorId })</li>
    }
    </ul>
}
else
{
    <h3>There are no flavors added yet.</h3>
}

<h3>@Html.ActionLink("Add a New Flavor", "Create") || @Html.ActionLink("Back to Home", "Index", "Home")</h3>